@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
